@import "../../../App/Styles/Variables.scss";
@import "../../../App/Styles/Mixins.scss";
@import url("../../../App/Styles/General.css");

.DynamicContentBlock {
    width: 60%;
    // .DynamicContentBlock__title

    &__title {
        color: var(--text-color);
        font-size: 96px;
        font-weight: 900;
    }

    // .DynamicContentBlock__subtitle

    &__subtitle {
        color: var(--text-color);
        font-size: 30px;
        font-weight: 500;
    }

    // .DynamicContentBlock__buttonText

    &__buttonText {
        &:active {
            background-color: aliceblue;
        }
    }
}
