@import '../../../App/Styles/Variables.scss';
@import '../../../App/Styles/Mixins.scss';

.DynamicContentBlock {
    width: 60%;
    // .DynamicContentBlock__title

    &__title {
        color: $dark-theme-text;
        font-size: 96px;
        font-weight: 900;
    }

    // .DynamicContentBlock__subtitle

    &__subtitle {
        color: $dark-theme-text;
        font-size: 30px;
        font-weight: 500;
    }

    // .DynamicContentBlock__buttonText

    &__buttonText {
        
        &:active {
            background-color: aliceblue;
        }
    }
}
