@import '../../../App/Styles/Variables.scss';
@import '../../../App/Styles/Mixins.scss';

.DynamicContentBlock {
    width: 900px;
    // .DynamicContentBlock__title

    &__title {
        color: $dark-theme-text;
        font-size: 96px;
        font-weight: 900;
    }

    // .DynamicContentBlock__subtitle

    &__subtitle {
        color: $dark-theme-text;
        font-size: 30px;
        font-weight: 500;
    }

    // .DynamicContentBlock__buttonText

    &__buttonText {
        
        &:active {
            background-color: aliceblue;
        }
    }
}




@media screen and (max-width: 1200px) {
    .DynamicContentBlock {
        width: 600px;
        &__title {
            color: $dark-theme-text;
            font-size: 56px;
            font-weight: 900;
        }
        &__subtitle {
            color: $dark-theme-text;
            font-size: 25px;
            font-weight: 500;
        }
    
    }
  }
  
  @media screen and (max-width: 1024px) {
    .DynamicContentBlock {
        width: 300px;
        &__title {
            color: $dark-theme-text;
            font-size: 46px;
            font-weight: 900;
        }
        &__subtitle {
            color: $dark-theme-text;
            font-size: 25px;
            font-weight: 500;
        }
    
    }
  }
  
  @media screen and (max-width: 768px) {

      
  }
  
  @media screen and (max-width: 576px) { 

  }