@import "../../../App/Styles/Variables.scss";
@import "../../../App/Styles/Mixins.scss";
.MainInfo {
    // .MainInfo__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .MainInfo__img
    &__textbutton {
        @include button(var(--bg-color), $light-theme-button-bg, 10px, 45px);
    }

    &__img {
        width: 800px;
        height: 800px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.container {
}


@media screen and (max-width: 1200px) {
.MainInfo {
    &__img {
        width: auto;
        height: auto;

    }

    &__textbutton {
        font-size: 20px;
        padding: 20px 30px 20px 30px;
    }
}
  }
  
  @media screen and (max-width: 1024px) {
    .MainInfo {
        margin-top: 100px;
        &__img {
            width: 800px;
            height: 500px;
    
        }
    }
  }
  
  @media screen and (max-width: 768px) {

      
  }
  
  @media screen and (max-width: 576px) { 

  }